
/*CSS by Judy Dagdagan)

/* Imported Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Root Variables*/
:root{
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
}

/* GLOBAL STYLES*/
body {
    font-family: "Playfair Display";
    background-color: var(--linen);
    color: var(--dark-charcoal);
    margin: 0;
    padding: 0;
    line-height: 20px;
}

header {
    background-color: var(--midnight-blue);
    text-align: center;
    padding: 24px 0;
    color: var(--soft-white);
    padding-bottom: 0;
    width: 100%;
}

.logo {
    max-width: 600px;
    margin: 0 auto;
}


.main-logo{
    width: 140px;
}

header h1 {
    margin-top: 10px;
    font-size: 32px;
}

header p {
    font-style: italic;
    font-size: 1rem;
    padding-top: 6px;
}

nav {
    width: 100%;
}

nav ul {
    margin-top: 20px;
    background-color: var(--champagne-gold);
    display: flex;
    justify-content: center;
    gap: 120px;
    padding: 10px 16px;
    flex: wrap;
}

nav a {
    text-decoration: none;
    color: var(--midnight-blue);
    font-weight: bold;
    font-size: 1.1rem;
}

.section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px 16px;
}

h2 {
    font-size: 1.6rem;
    color: var(--midnight-blue);
    margin-bottom: 12px;
}

hr{
    border: none;
    border-top: 2px solid #E5C185;
    margin: 20px 0;
}

#offerings {
    display: grid;
    gap: 20px;
}

.artisan,
.exclusive-dining,
.monthly-basket {
    background-color: var(--olive-green);
    color: var(--soft-white);
    padding: 18px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.artisan h3,
.exclusive-dining h3,
.monthly-basket h3 {
    font-size: 1.1rem;
    margin-bottom: 6px;
    font-weight: bold;
}


.monthly-basket ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 0;
}

/*this is my global style for mobile gallery ?? - need help here please */
.Gallery {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px;
}

.gallery-card {
    background-color: var(--soft-white);
    border-radius: 12px;
    padding: 12px;
    box-shadow: 0 6px 14px rgba(0,0,0,0.1);
}

.gallery-card img {
    width: 100%;
    display: block;
    border-radius: 8px;
}

.caption {
    margin-top: 8px;
    font-size: 1rem;
    font-style: italic;
    text-align: center;
}

.gallery-btn {
    margin-top: 20px;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: var(--olive-green);
    color: var(--soft-white);
    font-weight: bold;
    border-radius: 6px;
    text-decoration: none;
    width: 100%;
}

/* Footer */
footer {
    background-color: var(--midnight-blue);
    color: var(--soft-white);
    text-align: center;
    padding: 80px;
    margin-top: 0px;
}
footer p{
    line-height: 1.5rem;
}
footer a {
    color: var(--champagne-gold);
    margin: 0 8px;
    text-decoration: none;
}

footer ul {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

footer .email {
    color: var(--champagne-gold);
    font-weight: bold;
}

/* MEDIA QUERY (medium 600px) --help here */
@media (min-width: 600px){

    .Gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* MEDIA QUERY (large 900) */
@media (min-width: 900px) {

    #offerings {
        grid-template-columns: repeat(2, 1fr);  
        gap: 24px;
    }
    #offerings > h2 {
        grid-column: 1 / -1;
    }
    .monthly-basket {
        grid-column: 1 / -1;
    }
}
    .Gallery{
        grid-template-columns: repeat(3, 1fr);
    }


/* MEDIA QUERY (XL 1200px) */
@media (min-width: 1200px) {

    .section {
        max-width: 1200px;
        margin: 0 auto;
    }

    .Gallery {
        grid-template-columns: repeat(5, 1fr);
    }

    .artisan,
    .exclusive-dining,
    .monthly-basket {
        padding: 24px;
    }
}